[main]
# The main directory Where we're running from (or, rather, where 
# we store log files and write output to)
#dir = /Users/jeff/Desktop/ptpbg/Chapters/Ch4

# Input file name. This must be either a path name or a simple
# dash (-), which signifies we'll use standard in.
input_source = %(dir)s/example3.log

[maxsize]
# When we hit this threshold, we'll alert for maximum
# file size. 
threshold = 100

[display]
# Whether we want to see the final footer calculations or 
# not. Sometimes things like this just get in the way.
#show_footer = no
output_format = text

